.leaflet-popup-content img {
  width: 20px;
}

.leaflet-popup-content button {
  background: transparent;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}