.options {
  max-height: 48vh;
  overflow-y: auto;
  list-style-type: none;
  border: 2px solid #b0b0b0;
  border-radius: 8px;
}

.options li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options li:hover {
  background-color: #f0f0f0;
}

.options img {
  max-width: 16%;
  margin-right: 16px;
}

.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #00000080;
}